@charset "utf-8";

/* 
Todo
・aにカーソルが重なった時のホバー
・ロゴの画像つくり

*/

@media screen and (max-width:690px) {
    .protxt {
        padding-top: 7%;
        width: 80%;
        margin-left:10%;
        margin-right:10%;
    }

    .Aboutme img {
        margin: 5% 30% 5% 30%;
        vertical-align: middle;
        margin-top: 5%;
        margin-bottom: 10%;
        text-align: center;
        width: 150px;
        float: left;
    }
}


h1,
p {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a:hover {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
    text-decoration: none;
}

a {
    color: #3583aa;
}

a:visited {
    color: #788d98;
}

/* 大きなくくり */

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 30%;
    margin: 0 auto;
}

footer {
    width: 100%;
    text-align: center;
    padding: 0;
    bottom: 0;
    /*下に固定*/
    margin-top: 10%;
}

/* class */
.content {
    width: 100%;
    margin: 0 auto;
}

.headimg {
    width: 100%;
}

.Skill {
    margin-top: 20%;
}

.logo {
    margin: 5% 5% 20px;
    font-size: 30px;
    border-bottom: 3px solid #dee7ec;
    padding: 15px;
}

.sub-logo {
    margin: 5% 20% 20px;
    font-size: 20px;
    border-bottom: 3px solid #d3d3d3;
    padding: 15px;
    opacity: 0.8;
}

.sub-content li {
    margin-left: 30%;
    text-align: left;
    font-size: 15px;
    line-height: 1.5;
    padding: 0.5em 0;
}

@media screen and (min-width:690px) {

    .protxt {
        vertical-align: middle;
        padding-top: 7%;
        width: 50%;
        margin-left: 50%;
        padding-left: 2%;
    }

    .Aboutme img {
        margin-left:30%;
        vertical-align: middle;
        margin-top: 5%;
        margin-bottom: 15%;
        text-align: right;
        width: 180px;
        float: left;
    }
}

.other {
    clear: both;
}
